################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fibonacci/v17
/.vs/Fibonacci/project-colors.json
/.vs
/dynamic_programming/a.exe
